*{
    font-family: Helvetica, sans-serif;
    
}

.header {
   font-size: larger; 


 
} 

.header h3 {
    font-weight: lighter;

}

.content {
    margin: 50px;
    padding-left: 10px;
}

.content h3 {
   margin: 0;
   justify-content: left;

}
.content p{
  font-weight: lighter;
 
}

section ul { 
font-weight: lighter;
display:flex;
justify-content: space-evenly;
align-items: center;
position: relative;
}